<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="../static/bootstrap.bundle.min.js"></script>
    <!-- Custom CSS -->
    <link href="../static/custom.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0 container-fluid">
      {% block body %}
      {% endblock %}
    </main>
      
    <!-- <footer class="footer mt-auto py-3 bg-dark">
      <div class="container">
        <div class="mx-auto">
          <p class="text-center">© 2021 Sebastian Gode</p>
        </div>
        
      </div>
    </footer> -->
  </body>
</html>